<div class="row">
  <div class="col-xs-2 col-sm-3 col-md-4 uneaten">
      <h3>Burgers to Eat</h3>
  </div>
  <div class="col-xs-8 col-sm-6 col-md-4" id="sign">
  		<h1>Eat the Burger!</h1></div>
  <div class="col-xs-2 col-sm-3 col-md-4"></div>
</div>

<div class="row">
  <div class="col-xs-2 col-sm-3 col-md-4">   
  </div>
  <div class="col-xs-8 col-sm-6 col-md-4" id="addBurger">
  	<form method="POST" action="/create">
  		<p>Imagine any burger and click 'Add Burger'.</p>
  		<textarea class="form-control" rows="2"></textarea>
		  <button type="submit" class="btn btn-danger" id="submit">Add Burger</button>
	  </form>	
  </div>
  <div class="col-xs-2 col-sm-3 col-md-4">
    
  </div>
</div>